/* Icons */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
	font-weight: 400;
	font-family: 'Material Icons';
	font-style: normal;
	src: url('../fonts/material-icons.woff2') format('woff2');
	font-display: block;
}

@font-face {
	font-weight: 400;
	font-family: 'Material Icons Outline';
	font-style: normal;
	src: url('../fonts/material-icons-outline.woff2') format('woff2');
	font-display: block;
}
