@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.alert {
		@apply p-2 rounded-md text-xs;
	}

	.alert-error {
		@apply alert;
		@apply bg-red-100 text-red-800;
	}

	.alert-success {
		@apply alert;
		@apply bg-green-100 text-green-800;
	}
}

@layer base {
	h1 {
		@apply text-4xl font-bold;
	}

	h2 {
		@apply text-xl font-bold;
	}

	h3 {
		@apply text-lg font-bold;
	}

	a {
		@apply text-blue-600;
	}
}
.btn {
	@apply flex justify-center items-center;
}

.btn.primary {
	@apply bg-blue-600 text-white font-medium leading-tight uppercase hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
}
.btn.secondary {
	@apply bg-purple-600 text-white font-medium leading-tight uppercase hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out;
}
.btn.success {
	@apply bg-green-500 text-white font-medium leading-tight uppercase hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out;
}
.btn.danger {
	@apply bg-red-600 text-white font-medium leading-tight uppercase hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out;
}
.btn.warning {
	@apply bg-yellow-500 text-white font-medium leading-tight uppercase hover:bg-yellow-600 hover:shadow-lg focus:bg-yellow-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-700 active:shadow-lg transition duration-150 ease-in-out;
}
.btn.info {
	@apply bg-blue-400 text-white font-medium leading-tight uppercase hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out;
}
.btn.light {
	@apply bg-gray-200 text-gray-700 font-medium leading-tight uppercase hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out;
}
.btn.dart {
	@apply bg-gray-800 text-white font-medium leading-tight uppercase hover:bg-gray-900 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out;
}
.btn.primary.outline {
	@apply bg-transparent border-2 border-blue-600 text-blue-600 font-medium leading-tight uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}
.btn.secondary.outline {
	@apply bg-transparent border-2 border-purple-600 text-purple-600 font-medium leading-tight uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}
.btn.success.outline {
	@apply bg-transparent border-2 border-green-500 text-green-500 font-medium leading-tight uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}
.btn.danger.outline {
	@apply bg-transparent border-2 border-red-600 text-red-600 font-medium leading-tight uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}
.btn.warning.outline {
	@apply bg-transparent border-2 border-yellow-500 text-yellow-500 font-medium leading-tight uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}
.btn.info.outline {
	@apply bg-transparent border-2 border-blue-400 text-blue-400 font-medium leading-tight uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}
.btn.light.outline {
	@apply bg-transparent border-2 border-gray-200 text-gray-200 font-medium leading-tight uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}
.btn.dart.outline {
	@apply bg-transparent border-2 border-gray-800 text-gray-800 font-medium leading-tight uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
}
.btn.sm {
	@apply px-4 py-1.5 text-xs;
}
.btn.md {
	@apply px-6 py-2.5 text-xs;
}
.btn.lg {
	@apply px-7 py-3 text-sm;
}
.btn.icon.sm {
	@apply p-4;
}
.btn.icon.md {
	@apply p-6;
}
.btn.icon.lg {
	@apply p-7;
}
.btn.shadow-sm {
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.btn.shadow-md {
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.btn.shadow-lg {
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.btn.shadow-xl {
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.btn.shadow-2xl {
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
