:deep(.fc-timeGridWeek-view) {
	.fc-day-today .fc-scrollgrid-sync-inner {
		background-color: #d0d1fb;
		&.fc-daygrid-day-frame {
			background-color: #fff;
		}
	}
}
.fc :deep(.fc-daygrid-day.fc-day-today) {
	background-color: #d0d1fb;
	.fc-daygrid-day-number {
		margin: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
:deep(.fc-timegrid) {
	.fc-daygrid-day.fc-day-today {
		background-color: #fff;
	}
	.fc-col-header-cell.fc-day-today {
		.fc-scrollgrid-sync-inner {
			background-color: #d0d1fb;
		}
	}
}
.fc :deep(.fc-daygrid-day-top) {
	flex-direction: row;
}
.fc :deep(.fc-daygrid-day-number) {
	color: rgb(55 65 81 / var(--tw-text-opacity));
}
.fc :deep(.fc-timegrid-slot) {
	height: 3rem;
}

.fc :deep(.fc-highlight) {
	background: rgba(227, 227, 252, 0.5);
}

:deep(a) {
	color: rgb(17 24 39 / var(--tw-text-opacity));
	&:not(.fc-daygrid-event) &:hover {
		background: transparent;
		color: rgb(79 70 229 / var(--tw-text-opacity));
	}
}
:deep(.fc-daygrid-event-dot) {
	border: none;
	margin: 0 0.25rem 0 0.875rem;
}
:deep(.fc-day.fc-day-other) {
	background-color: transparent;
}
:deep(.fc-day) {
	background-color: rgb(256 256 256 / var(--tw-bg-opacity));
}
.fc :deep(.fc-toolbar.fc-header-toolbar) {
	margin-bottom: 0;
	padding: 1rem 1.5rem;
	border: 1px solid var(--fc-border-color, #ddd);
	border-bottom: none;
	background-color: rgb(249 250 251 / var(--tw-bg-opacity));
	border-top-left-radius: v-bind(borderRadius);
	border-top-right-radius: v-bind(borderRadius);
	.fc-toolbar-chunk {
		&:not(:last-child):not(:first-child) {
			flex-grow: 1;
			text-align: right;
			margin-right: 1rem;
		}
	}
}
:deep(.fc-button-group) {
	.fc-button {
		text-transform: capitalize;
		background-color: rgb(256 256 256 / var(--tw-bg-opacity));
		color: rgb(209 213 219 / var(--tw-border-opacity));
		border-color: rgb(209 213 219);
		min-width: 3.8125rem;
		&.fc-today-button:disabled {
			opacity: 1;
		}
		&.fc-next-button,
		&.fc-prev-button {
			min-width: 1rem;
			span {
				color: rgb(17 24 39 / var(--tw-text-opacity));
			}
		}
		&:hover {
			--tw-bg-opacity: 1;
			background-color: #f3f4f6;
			color: black;
		}
		&.fc-button-active,
		&:active {
			background-color: #f3f4f6;
			color: black;
			--fc-button-active-border-color: rgb(209 213 219);
		}
		&:focus,
		&:focus-visible {
			--tw-border-opacity: 1;
			--tw-ring-opacity: 1;
			--tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity));
			--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
				var(--tw-ring-offset-width) var(--tw-ring-offset-color);
			--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
				calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
			border-color: rgb(99 102 241 / var(--tw-border-opacity));
			box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
				var(--tw-shadow, 0 0 #0000) !important;
			outline: 2px solid transparent;
			outline-offset: 2px;
			z-index: 10;
		}
	}
}
.calendar-rounded {
	border-bottom-left-radius: v-bind(borderRadius);
	border-bottom-right-radius: v-bind(borderRadius);
}
:deep(.fc-scrollgrid) {
	border-bottom-left-radius: v-bind(borderRadius);
}
:deep(.fc-scrollgrid-section-liquid) {
	> td {
		border-bottom-left-radius: v-bind(borderRadius);
		border-bottom-right-radius: v-bind(borderRadius);
	}
	table {
		tr:last-child {
			td:last-child {
				border-bottom-right-radius: v-bind(borderRadius);
			}
			td:first-child {
				border-bottom-left-radius: v-bind(borderRadius);
			}
		}
	}
}
.fc .fc-scroller-harness-liquid :deep(.fc-scroller) {
	border-bottom-left-radius: v-bind(borderRadius);
	border-bottom-right-radius: v-bind(borderRadius);
}
:deep(.fc-daygrid-day-events), :deep(.fc-daygrid-dot-event), :deep(.fc-timegrid-event) {
	.fc-event-title {
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	span, .fc-event-main, .fc-event-title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&.fc-v-event {
		background-color: #d0d1fb;
		border: none;
	}
	.fc-event-main {
		margin: 0 4px;
	}
}

:deep(.fc-timegrid-event) {
	.fc-event-main {
		color: #1215c5;
	}
}

:deep(.fc-h-event) {
	border: none;
}

.select-view {
	:deep(.formkit-outer) {
		margin-bottom: 0;
		.formkit-inner {
			margin-bottom: 0;
		}
	}
}
.select-view :deep(div) {
	height: 100%;
	.formkit-input {
		height: 100%;
	}
}
.calendar-mobile :deep(.fc-daygrid-day-top) {
	justify-content: center;
}
